
.main_register {
margin: 130px 0px 90px 0;
}
.header_register-color {
    color: #FFFFFF;
}
.header_register {
    width: 30%;
    margin: 50px auto 0px;
    color: white;
    background: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
    text-align: center;
    border: 1px solid #B0C4DE;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
}
.form_register {
    width: 30%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #B0C4DE;
    background: white;
    border-radius:  0px 0px 10px 10px;
}
.input_group {
    margin: 10px 0px 10px 0px;
}
.input_group label {
    display: block;
    text-align: left;
    margin: 3px;
}
.input_group input {
    height: 30px;
    width: 100%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}
.btn-register {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
    border: none;
    border-radius: 5px;
}
.error_message {
    width: 100%;
    margin: 10px auto 0;
    color: #a94442;
    border-radius: 5px;
    text-align: left;
}
.success_message  {
    color: #3c763d;
    background: #dff0d8;
    border: 1px solid #3c763d;
    padding: 5px;
    border-radius: 5px;
}
.error_account {
    color: #dc0f0f;
    background: #fbd1d1;
    border: 1px solid #850000;
    padding: 5px;
    border-radius: 5px;
}
.print_error {
    margin-bottom: 0px;
}